.footer {
  text-align: center;
  
}
.separator {
  height: 2px; /* Set the height of the separator */
  background: linear-gradient(to right,transparent, #cbc553,transparent); /* Gradient background */
  margin: 10px 0; /* Add margin around the separator */
}